on boot
# IPSec for VOLTE
    chown root system /dev/socket
    chmod 0775 /dev/socket

service ipsec-daemon /system/bin/IPSecService
    class main
    socket ipsec_socket stream 660 system system
    user system
    group system net_raw inet net_admin

on fs
    #For GTS WWD test
    chmod 0744 /efs/sec_efs/iss
    chmod 0744 /efs/sec_efs/logguard
    chmod 0744 /efs/sec_efs/logguard/files
